#style-switcher h2 a { background: #fff none repeat scroll 0 0 }
#style-switcher h2 a i {color: #03a9f4;}

.section-title span{background: #03a9f4 none repeat scroll 0 0;}

.topcontrol {background: #03a9f4 none repeat scroll 0 0;}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #03a9f4 !important;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #03a9f4 !important;
    background-color: transparent;
}

.menu-top li a:hover { color: #03a9f4!important }
.navbar-default.menu-shrink li a:hover { color: #03a9f4 !important }
.navbar-default .navbar-toggle .icon-bar { background-color: #03a9f4 }
.single_about span{background: #03a9f4 none repeat scroll 0 0;}
.serviceBox:hover .service-icon{color: #03a9f4;}
.serviceBox:hover:after{border-color: #03a9f4;}

.our-team .icon{background: #03a9f4 none repeat scroll 0 0;}
.our-team .social li a:hover{background: #03a9f4;}
.our-team .social li a{background: #03a9f4;}
.owl-theme .owl-controls .owl-page span {background-color: #03a9f4 !important;}

.btn-promotion-bg {background: #03a9f4 none repeat scroll 0 0;border: 1px solid #03a9f4;}


.single_service > i {background: #03a9f4 none repeat scroll 0 0;border: 1px solid #03a9f4;}

.gallery_info a:hover{color: #03a9f4;}

.project-list li a:hover { color: #03a9f4 }

.portfolio-filters li.active {background:#03a9f4;border: 1px solid #03a9f4;}
.portfolio-filters li:hover {background:#03a9f4;border: 1px solid #03a9f4;}
.box:after{background-color:#03a9f4;}
.pricingTable:after{background: #03a9f4;}

.pricingTable .price-value{border-bottom: 5px solid #03a9f4;}
.pricingTable .icon {color: #03a9f4;}
.newsletter_form_border{background: #03a9f4 none repeat scroll 0 0;}

.btn-newsletter-bg {background: #03a9f4 none repeat scroll 0 0;border: 2px solid #03a9f4;}

.contact input:hover, .contact input:focus {border: 2px solid #03a9f4 ;}
.contact textarea:hover, .contact textarea:focus {border: 2px solid #03a9f4 ;}
.btn-contact-bg {background: #03a9f4 none repeat scroll 0 0;}

.btn-promotion-bg {background: #03a9f4 none repeat scroll 0 0;border: 1px solid #03a9f4;}

.nav-tabs > li.active > a{background: #03a9f4!important;}
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:hover{background: #03a9f4!important;border: 1px solid #03a9f4!important;}

.menu-inner h4 span {color: #03a9f4;}

